{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('addItem') }}">
            <h2>Add Item</h2>
            <p>
                Title<br>
                <input type="text" name="item_name">
            </p>
            <p>
                Description<br>
                <textarea name="item_description"></textarea>
            </p>
            <p>
                Category<br>
                <select name="item_category">
                    {% for cate in categories %}
                    <option value="{{cate.name}}">{{cate.name}}</option>
                    {% endfor %}
                </select>
            </p>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
{% endblock %}