{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <article>
            <head>
                <h3>{{item.name}}</h3>
            </head>
            <section>
                Description:&nbsp;{{item.description}}
            </section>
        </article>
        {% if hideEdit != True %}
        <a href="{{ url_for('editItem', category_name = item.category_name, item_name = item.name) }}">Edit</a>&nbsp;|&nbsp;<a href="{{ url_for('deleteItem', category_name = item.category_name, item_name = item.name ) }}">Delete</a>
        {% endif %}
    </div>
</div>
{% endblock %}